body{
    margin: 0;
    padding: 0;
}

p{  
    text-align: left;
    line-height: 150%;

    font-size: large;
}

/* --- GENERAL CLASS --- */
.flex-vert-p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    margin-bottom: 1em;
    padding: 5vh 0;

    width: 60vh;
}

.flex-horiz{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    column-gap: 0vh;

    background-color: inherit;

    padding: 0;
    margin: 3vh 0;
}

/* --- SECTION TITRE --- */
.titre-p{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20vh 0;
    margin-bottom: 10vh;

    position: relative;
}

.titre-p::before{
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;

    background: url("../img/a-propos-de-nous/groupe_de_chauve.webp");
    background-size: cover;
    background-position: center 50%;

    filter: brightness(0.5);
}

.titre-p h1{
    font-size: 7vh;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    font-family: 'Inter' , normal;
    font-weight: 900;
    text-shadow: 0px 4px 15px #ffffff62;
}

/* --- SECTION CONTENU --- */
.image_chauve{
    width: 20vh;
    height: 20vh;
    object-fit: cover;
    object-position: top;

    background-color: rgba(255, 255, 255, 0.144);
    box-shadow: 3px 3px 8px #00000054;
    border-radius: 100%;
    overflow: hidden;
}

.flex-vert-p flex-box{
    padding: 4% 6%;
    margin: 8%;
}

/* --- ADAPTATION TELEPHONE --- */
@media screen and (max-width: 640px){

/* --- SECTION TITRE --- */
.titre{
    padding: 30vh 0;
    position: relative;
}

.titre::before{
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;

    background: url("../img/a-propos-de-nous/groupe_de_chauve.webp");
    background-position: 69% 50%;

    filter: brightness(0.5);
}

.titre h1{
    font-size: 5vh;
    padding: 0 1vh;
}

/* --- SECTION CONTENU --- */
.flex-horiz{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    border-bottom: 2px solid;
    border-color: rgba(0, 0, 0, 0.205);
}

.flex-vert-p{
    margin-bottom: 0;
    padding: 5vh 0;

    width:99%;

    border-bottom: none;
}

}