body{
    margin: 0;
    padding: 0;
}

/* --- GENERAL CLASS --- */
.flex-vert{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    background-color: inherit;

    margin: 0;
    padding: 0;
    width: 60%;
}

.flex-horiz{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    column-gap: 0;

    background: inherit;

    padding: 0;
    margin: 0;
}

/* --- SECTION TITRE --- */
.titre{
    padding: 3vh 0;

    font-size: 3vh;
    color: white;

    background: linear-gradient(to top, black, rgb(51, 51, 51));
}

/* --- SECTION CONTENU --- */
.contenu{
    margin: 7vh;
}
/* Droite */
.contenu .droite{
    box-shadow: 3px 3px 8px #00000054;
    background-color: rgba(0, 0, 0, 0.137);

    border-radius: 2vh;
    overflow: hidden;
}

.contenu .droite p{
    margin-left: 1vh;

    text-align: left;

    font-size: 4vh;
    font-style: italic;
    color: white;
}

.chauve_main{
    vertical-align: bottom;
    margin-left: -10%;
    margin-top: -5%;

    width: 110%;

    filter: brightness(0.9);
}

.calvitie_avancee{
    vertical-align: bottom;
    margin-bottom: -5%;

    width: 110%;

    filter: brightness(0.8);
}