#logo{
    background: white;
}

footer{
    font-family: "inter", medium;
    background-color: #282828;
    color: #ffffff;
    margin-left: -0.5em;
    margin-bottom: -1em;
    padding: 2em;
    left: 0;
}

#contraste{
    color: #ffd700;
}

li a{
    color: #00000055;
}

textarea{
  color: #838383;
  border-radius: 16px;
  border-color: rgb(0, 0, 0);
  padding-right: 50%;
  padding-bottom: 10%;
}

#email-feed-back{
  color: #ffffffd1;
  border-color: #282828;
}


#submitButton{
    margin-top: 10px;
    color: #ffffff;
    background-color: #00000000;
    border-radius: 16px;
    border-color: #ffffff3f;
    width: 25%;
}

li a{
    color: #ffffffd5;
    font-size: 160%;
}

#githubLink{
    background-image: url(../img/global/github-mark-white.svg);
}

#igLink{
    background-image: url(../img/global/Instagram_Glyph_White.svg);
}

#linkedinLink{
    background-image: url(../img/global/InBug-White.png);
}

#navigationBar{
    background-color: #282828;
}

#NavBoutonMenu{
    background-image: url(../img/global/logo.svg);
}

/* --- Lohann --- */


body{
    background: url("../img/global/Fond_Black.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: #ffffff;
}

/* --- SECTION TITRE --- */
.titre{
    background:linear-gradient( to top, rgba(0, 0, 0, 0.95), rgba(51, 51, 51, 0.95));
}

.titre h1{
    color: white;
    text-shadow: 0px 4px 15px #ffffff48;
}

/* --- SECTION HISTOIRE --- */
#image1{
    background-color: rgb(255, 255, 255);
    border-top: 4px solid rgb(255, 255, 255);
}

.contenu1 {
    border-top: solid 4px rgb(255, 255, 255);
    border-bottom: solid 4px rgb(255, 255, 255);
}

.contenu1 p{
    color: black;
}

.contenu1 a{
    color: black;
}

.contenu1 figure{
    background: linear-gradient(to right, rgba(199, 192, 192, 0.795) 60%, rgba(197, 161, 0, 0.911)) 100%;
}

footer{
    border-top: solid 2px rgba(255, 255, 255, 0.247);
}

.flex-horiz{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.753) 75%, rgba(190, 190, 190, 0.767) 100%);
}

/* --- ADAPTATION TELEPHONE --- */
@media screen and (max-width: 640px){

.flex-horiz{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.733) 85%, rgba(190, 190, 190, 0.699) 100%);
}
    
}

