#logo{
    background: white;
}

body{
    background: linear-gradient(to right,#3c3c3c, #282828);
    color: #ffffff;
}

footer{
    font-family: "inter", medium;
    background-color: #282828;
    color: #ffffff;
    margin-left: -0.5em;
    margin-bottom: -1em;
    padding: 2em;
    position: flex;
    left: 0;
}

#contraste{
    color: #ffd700;
}

li a{
    color: #00000055;
}

textarea{
  color: #838383;
  border-radius: 16px;
  border-color: rgb(0, 0, 0);
  padding-right: 50%;
  padding-bottom: 10%;
}

#email-feed-back{
  color: #ffffffd1;
  border-color: #282828;
}


#submitButton{
    margin-top: 10px;
    color: #ffffff;
    background-color: #00000000;
    border-radius: 16px;
    border-color: #ffffff3f;
    width: 25%;
}

li a{
    color: #ffffffd5;
    font-size: 160%;
}

#githubLink{
    background-image: url(../img/global/github-mark-white.svg);
}

#igLink{
    background-image: url(../img/global/Instagram_Glyph_White.svg);
}

#linkedinLink{
    background-image: url(../img/global/InBug-White.png);
}

#navigationBar{
    background-color: #282828;
}

#NavBoutonMenu{
    background-image: url(../img/global/logo.svg);
}