body{
  font-family: "Bacasime Antique", serif;
  font-weight: 400;
  font-style: normal;
}
header{
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 0px 20% 0px 0px;
  background-color: rgba(0, 0, 0, 0.40);
  box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}  
#BNUlogo{
  margin-right: 2%;
  background: -webkit-linear-gradient(#fff200, #ffc300);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}