/* --- LILIAN --- */
body{
  font-family: "Bacasime Antique", normal;
  font-weight: 600;
  font-style: normal;
}



header{
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20% 0px 0px;
  background-color: rgba(0, 0, 0, 0.40);
  box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}  

#contraste{
    background-color: #ffffff00;
    font-size:larger;
    font-weight:bold;
    margin-right: 20px;
    border-style: hidden;
    transition: linear 0.5s;
    cursor: pointer;
}

#footer{
    padding: 0;
    line-height: 145%;
    overflow-x: hidden;
}

#BNUlogo{
  cursor: pointer;
  margin-right: 2%;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  background: linear-gradient(#fff200, #ffc300);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: ease-in-out 0.3s;
}

input[type="radio"]{
  visibility: hidden;
  width: 0%;
}

.rating {
  cursor: pointer;
  color: gray;
  transition: color 0.7s;
}
input[type="radio"]:checked,
input[type="radio"]:checked ~ label {
  color: gold;
}

ul li{
  list-style-type: none;
}

.FooterFlexFigure{
  display: flex;
}

.iconSocialMedia{
  background-position-x: center;
  background-position-y: center;
  background-size:cover;
  width: 40px;
  height: 40px;
  display: inline-flex;
  font-size: 0%;
}

#BoutonMenu{
  margin-left: 10px;
  font-size: 50%;
  border: hidden;
  cursor: pointer;
  background: #ffffff00;
  background-image: url(../img/global/logo.svg);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  color: transparent;
  display: inline-flex;
  padding-right: 10em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  cursor: pointer;

}

#navigationBar{
  z-index: 3;
  position: fixed;
  overflow-y: hidden;
  line-height: 1.5cm;
  justify-content: left;
  padding-bottom: 20%;
  width: 100%;
  height: 100%;
  font-size: larger;
  font-family: 'Inter', sans-serif;
  transition: linear 0.7s;
}

#NavBoutonMenu{
  margin-left: 10px;
  margin-top: 25px;
  font-size: 40%;
  border: hidden;
  cursor: pointer;
  background: #ffffff00;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  color: transparent;
  display: inline-flex;
  padding-right: 10em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;

}

#scoreBox{
  display: flex;
  justify-content: left;
  flex-direction:row-reverse;
  margin-left: 0%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 1rem;
}

#email-feed-back{
  border-radius: 16px;
  border-style: solid;
  padding-right: 50%;
  margin-bottom: 10px;
}

#messageBox{
  border-style:solid;
  border-radius: 16px;
  border-width: 5px;
  display: flex;
  flex-direction: column;
  justify-content:left;
  margin: 20% 50% 20% 0%;
}

#hautDePage{
  visibility: hidden;
  position: absolute;
}

#validator{
  width: 7vw;
  height: auto;
}

.mediaTitre{
    font-size: 1vw;
}

.descriptionText{
    font-family: 'Inter', sans-serif;
    font-size: 150%;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCo3FwrK3iLTcviYwY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Bacasime Antique';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bacasimeantique/v1/tDbX2pGXkFYEykldjZSrmI6T_XWZCwOnSA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* --- LOHANN --- */
html, body{
  margin: 0;
  padding: 0;
}

p{
  font-size: 1.2vw;
}

h1{
  text-align: center;
}