html, body{
  margin: 0;
  padding: 0;
  display: absolute;
}

body{
  font-family: "Bacasime Antique", regular;
  font-weight: 400;
  font-style: normal;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20% 0px 0px;
  background-color: rgba(0, 0, 0, 0.40);
  box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}  

#contraste{
    background-color: #ffffff00;
    font-size:larger;
    font-weight:bold;
    margin-right: 20px;
    border-style: hidden;
    transition: linear 0.5s;
    cursor: pointer;
}

#footer{
    padding: 0;
    line-height: 145%;
    overflow-x: hidden;
}

#BNUlogo{
  cursor: pointer;
  margin-right: 2%;
  background: linear-gradient(#fff200, #ffc300);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input[type="radio"]{
  visibility: hidden;
  width: 0%;
}

#scoreBox{
  display: flex;
  justify-content: left;
  flex-direction:row-reverse;
  margin-left: 0%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 1rem;
}

h1{
  text-align: center;
}

.rating {
  cursor: pointer;
  color: gray;
  transition: color 0.7s;
}

.rating:hover,
.rating:hover ~ label {
  color: gold;
}

ul li{
  list-style-type: none;
}

.FooterFlexFigure{
  display: flex;
}

.iconSocialMedia{
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  padding-block: 11px;
  color: transparent;
  display: inline-flex;
  margin-bottom: 2em;
  margin-right: 1em;
}

#BoutonMenu{
  margin-left: 10px;
  border: hidden;
  cursor: pointer;
  background: #ffffff00;
  background-image: url(../img/global/logo.svg);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  color: transparent;
  display: inline-flex;
  padding-right: 10em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;

}

#navigationBar{
  display:absolute;
  position: fixed;
  overflow-y: hidden;
  line-height: 1.5cm;
  justify-content: left;
  padding-bottom: 20%;
  width: 100%;
  height: 100%;
  transform: linear 0.5s;
  font-size: larger;
  font-family: 'Inter', sans-serif;
  transition: linear 0.7s;
}

#NavBoutonMenu{
  margin-left: 10px;
  margin-top: 25px;
  border: hidden;
  cursor: pointer;
  background: #ffffff00;
  background-image: url(../img/global/logo-Black.svg);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  color: transparent;
  display:block;
  padding-right: 10em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;

}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
