body{
  font-family: "Bacasime Antique", regular;
  font-weight: 400;
  font-style: normal;
}

header{
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 0px 20% 0px 0px;
  background-color: rgba(0, 0, 0, 0.40);
  box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}  

#BNUlogo{
  margin-right: 2%;
  background: -webkit-linear-gradient(#fff200, #ffc300);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#messageBox{
  background-color: white;
  border-radius: 16px;
  border-width: 5px;
  border-color: #E5E5E5;
  display: flex;
  flex-direction: column;
  justify-content:left;
  margin: 5% 20% 0% 20%;
}

input[type="radio"]{
  visibility: hidden;
  width: 0%;
}

textarea{
  color: #838383;
  border-radius: 16px;
  border-color: white;
  padding-right: 50%;
  padding-bottom: 10%;
}

#scoreBox{
  display: flex;
  justify-content: left;
  margin-left: 0%;
  margin-top: 2%;
  margin-bottom: 2%;
}

h1{
  text-align: center;
}

h3{
  font-size: 50px;
  text-align: left;
  max-width: 20%;
}


.rating {
  display: flex;
  flex-direction:row-reverse; /* Inverse l'ordre visuel */
  font-size: 1rem;
  cursor: pointer;
  color: gray;
  transition: color 0.3s;
}

.rating:hover,
.rating:hover ~ label {
  color: gold;
  flex-direction:row;
}

ul li{
  list-style-type: none;
}