h1{
    z-index: 1;
    position: absolute;
    font-size: 6vw;
    top: 125vw;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
}

body{
  margin-top: -1em;
}

h2{
    margin-left: 30px;
    font-size: 5em;
    font-size: 50px;
    text-align: left;
    max-width: 20%;
}

#lien1, #lien2 {
    z-index: 1;
    font-size: 2vw;
    position: absolute;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
}

#lien1 {
    top:110vw;
}

#lien2 {
    top:240vw;
}

#imageDePresentation {
    display:block;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-left: auto;
    overflow-x: hidden;
}

#image1, #image2 {  
  display: block;
  width: 100%;
  height: auto;
}

@media (min-width: 600px) {
    #imageDePresentation {
    display:flex;
    width: 100%;
    margin-left: auto;
    }
    #image1, #image2 {
        display: flex;
        width: 50%;
    }
    h1{
        top: 50%;
    }
    #lien1 {
        position: absolute;
        top:60vw;
        left: 25%;
    }
    #lien2 {
        position: absolute;
        top:60vw;
        left: 75%;
    }
}
