h1{
    color: white;
}

#logo{
    color: rgb(255, 255, 255);
}

#title{
    display: flex;
    color: white;
}

#imageDePresentation{
width: auto;
    margin-top: -1em;
    margin-left: -1em;
    display: flex;
    justify-content: center;
}

#image1{
    height: 15%;
    display: flex;
    justify-content: left;
}

#image2{
    height: 15%;
    display: flex;
    justify-content: right;
}