h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#logo {
    color: #fff;
}

#title {
    display: flex;
    justify-content: center;
    color: white;
}

#lien1, #lien2 {
    font-size: 100%;
    position: absolute;
    color: white;
}

#lien1 {
    top:75cqmax;
    left: 50%;
    transform: translate(-50%, -50%);
}

#lien2 {
    top:100cqmax;
    top:100cqmin;
    left: 50%;
    transform: translate(-50%, -50%);
}

#imageDePresentation {
    display:block;
    justify-content: center;
    margin-top: -1em;
    right: 0;
    color: #fff;
}

#image1, #image2 {
    display: block;
    width: 133%;
    margin-left: -3em;
}

@media (min-width: 600px) {
    #image1, #image2 {
        width: 70%;
        display: flex;
        margin-left: 0em;
    }

    #imageDePresentation {
        display:flex;
    }
    #lien1 {
        top:75cqmax;
        left: 25%;
        transform: translate(-50%, -50%);
}
    #lien2 {
        top:75cqmax;
        left: 75%;
        transform: translate(-50%, -50%);
}
}
