#logo{
    background: white;
}

body{
    background: url("../img/global/Fond.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    color: #000000;
}

footer{
    font-family: "inter", medium;
    background-color: rgb(240, 240, 240);
    color: #000000;
    margin-left: -0.5em;
    margin-bottom: -1em;
    padding: 2em;
    left: 0;
}
#contraste{
   color:#dcdcfb; 
}

#messageBox{
  background-color: #ffffff;
  border-color: lightgray;
}

textarea{
  color: #838383;
  border-radius: 16px;
  border-color: white;
  padding-right: 50%;
  padding-bottom: 10%;
}

#email-feed-back{
  color: #000000d1;
  border-color: white;
}


#submitButton{
    margin-top: 10px;
    color: #000000;
    background-color: #00000020;
    border-radius: 16px;
    border-color: #0000003f;
    width: 30%;
}

li a{
    color: #000000d5;
    font-size: 160%;
}

#githubLink{
    background-image: url(../img/global/github-mark.svg);
}

#igLink{
    background-image: url(../img/global/Instagram_Glyph_Black.svg);
}

#linkedinLink{
    background-image: url(../img/global/InBug-Black.png);
}

#navigationBar{
    background-color: white;
}

#NavBoutonMenu{
    background-image: url(../img/global/logo-Black.svg);
}