#logo{
    background: white;
}

body{
    background: linear-gradient(to right,#f5f5cd, #cfcfa1);
    color: #000000;
}

footer{
    font-family: "inter", medium;
    background-color: #ffffff;
    color: #000000;
    margin-left: -0.5em;
    margin-right: -0.5em;
    margin-bottom: -1em;
    padding: 2em;
    position: flex;
    left: 0;
}

#footer{
    padding: 0;
    line-height: 145%;
}

#contraste{
    background-color: #ffffff00;
    font-size: larger;
    border-width: 0px;
    color: white;
}

#messageBox{
  border-style:solid;
  background-color: 282828;
  border-radius: 16px;
  border-width: 5px;
  border-color: #e5e5e53e;
  display: flex;
  flex-direction: column;
  justify-content:left;
  margin: 20% 50% 20% 0%;
}

textarea{
  color: #838383;
  border-radius: 16px;
  border-color: white;
  padding-right: 50%;
  padding-bottom: 10%;
}

#email-feed-back{
  color: #000000d1;
  border-radius: 16px;
  border-style: solid;
  border-color: white;
  padding-right: 50%;
  margin-bottom: 10px;
}


#submitButton{
    margin-top: 10px;
    color: #000000;
    background-color: #00000020;
    border-radius: 16px;
    border-color: #0000003f;
    width: 30%;
}

li a{
    color: #000000d5;
    font-size: 160%;
}
