body {
    margin: 0;
    padding: 0;
}

/* --- SECTION TITRE --- */
.titre{
    margin: 0;
    padding: 1vh 0;

    background:linear-gradient( to top, black, rgb(51, 51, 51));
}

.titre h1{
    margin-top: 9vh;
    text-align: center;
    
    font-weight: bold;
    font-size: 8vh;
    text-transform: capitalize;
    color: white;
}

/* --- SECTION CONTENU --- */
.contenu{
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 8vh 0;

    position: relative;
}

.contenu::before{
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;

    background: url("../img/photo/fond_hallofshine.jpg");
    background-size: cover;
    filter: brightness(0.6);

}

.contenu figure{
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    padding: 2vh;

    width: 45%;

    background: linear-gradient(to right, rgba(0, 0, 0, 0.466), rgba(54, 44, 0, 0.486), rgba(0, 0, 0, 0.445));
    box-shadow: 5px 5px 12px #000000a4;
}

.contenu figcaption {
    margin: 1vh 0;
    padding: 2vh;

    text-align: center;

    background-color: #222;
    color: white;

    font: italic smaller sans-serif;
    font-size: 2vh;
}

.contenu .nom{
    color: linear;
    font-size: 5vh;
    font-weight: 900;

    border-bottom: 2px rgba(255, 255, 255, 0.856) solid;

    background: -webkit-linear-gradient(#fff200, #ffc300);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contenu img{
    margin-bottom: 2vh;
    padding: 2vh;

    width: cover;

    background-color:#222;
}

