body {
    background-color:#f5f5BC ;
}

header {
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 0px 20% 0px 0px;
  background-color: rgba(0, 0, 0, 0.40);
  box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
  
#BNUlogo{
  margin-right: 2%;
  background: -webkit-linear-gradient(#fff200, #ffc300);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titre {
    font-weight: 500;
    text-align: center;
    font-size: 60px;
    margin: 35px;

}

figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 10px;
  max-width: 440px;
  margin: auto;
  
}

img {
  max-width: 440px;
  max-height: 300px;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

.titre-gens {
    font-weight: 900;
}
