body{
    background: url(../img/global/UnChauveDeDos.png) left;
    margin: 0em 1em;
    padding: 0;
}

/* --- TITRE --- */
h1{
    margin: 2em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:3.5rem;
    text-shadow: 3px 3px 8px #00000054;
}

h2{
    font-size: 1.9em;
    margin-bottom: -0.2em;
}

h3{
    margin-bottom: -0.5em;
}


/* --- BLOC --- */
.flex-vert{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    background-color: rgba(0, 0, 0, 0.123);
    box-shadow: 3px 3px 8px #00000054;
    
    padding-bottom: 1em;
    padding-left: 1em;
    margin-bottom: 2em;
}

.flex-horiz{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 5em;


    background-color: rgba(0, 0, 0, 0.123);
    box-shadow: 3px 3px 8px #00000054;

    padding: 1em;
    margin-bottom: 2em;
}

/* --- TEXTE BLOC 1 --- */
.flex-horiz .flex-vert {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}

/* --- IMAGE --- */
img{
    width: cover;
    box-shadow: 3px 3px 8px #00000054;
    overflow-x: scroll;
}

/* --- LIENS --- global */
a{
    color: #0E8500;
}

a:visited{
    color: #556E00;
}

/* --- FOOTER --- */ 

footer{
    padding: 2em 0em;
}

/* --- FIN FOOTER --- */

@media screen and (max-width: 640px){

}