body{
    background: url(../img/global/UnChauveDeDos.png)left/no-repeat;
}

h1{
    margin: 2em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:3.5rem;
    text-shadow: 3px 3px 8px #00000054;
}

h2{
    font-size: 1.9em;
    margin-bottom: -0.2em;
}

h3{
    margin-bottom: -0.5em;
}

.flex-vert{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    background-color: rgb(218, 202, 139);
    border-radius: 1em;

    padding-bottom: 1em;
    padding-left: 1em;
    margin-bottom: 2em;
}

.flex-horiz{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    column-gap: 5em;


    background-color: rgb(218, 202, 139);
    border-radius: 1em;

    padding: 1em;
    margin-bottom: 2em;
}

img{
    max-width: 60%;
    box-shadow: 3px 3px 8px #00000054;
}

a{
    color: #0E8500;
}

a:visited{
    color: #556E00;
}
