h1{
    text-align: center;

    margin-top: 2em;
    margin-bottom:1em;
}

h2{
    font-size: 1em;
    max-width: 60vh;
}

.flex-vert{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    background-color: rgb(218, 202, 139);
    border-radius: 1em;

    padding-bottom: 1em;
    padding-left: 1em;
    margin-bottom: 2em;
}

.flex-horiz{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    column-gap: 5em;


    background-color: rgb(218, 202, 139);
    border-radius: 1em;

    padding: 1em;
    margin-bottom: 2em;
}