h1{
    text-align: center;

    margin-top: 2em;
    margin-bottom:1em;
}

h2{
    font-size: 1em;
    max-width: 60vh;
}

.flex-vert{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    background-color: rgb(0, 0, 0);

    margin-bottom: 2em;
}

.flex-horiz{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    column-gap: 5em;

    background-color: rgb(0, 0, 0);
    padding: 1em;
}

p, em {
    color: white;
}
